@font-face{font-family: LongBaton;
    src:url("../typo/LongBaton-Regular.ttf")}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
   
nav{
      width: 100%;
      height: 100px;
      background: lightsalmon;
      z-index: 3;
      /* position: fixed;
      top: 0; */
}
  
nav .main_pages{
      /* position: relative; */
      display: flex;
      justify-content: space-around;
      align-items: center;
}
  
.main_pages a {
      /* z-index:2; */
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      height:100px;
      text-decoration: none;
      font-family: Alef;
      color: rgb(122, 119, 119);
      font-size: 30px;
}
  
nav a:hover{
    background: lightgoldenrodyellow;
}
  
label{
  display: none;
}      
  
label, #toggle{
    display: none;
}

.taille_logo{
    height:75px;
    width: 50px;
}


  
.logo_menu{
  height: 30px;
  width: 30px;
  position: relative;
  left: -148px;
  top: 10px;
  }

  /* .position{
    position:relative;
    margin: 50px;
}

.title-stroke{
    font-family: LongBaton;
     color: lightsalmon;
    font-size: 200px;
    text-align:center;
}
    
.title-absolute{
    font-family: LongBaton;
    font-size:  170px;
    -webkit-text-stroke: 0.5px rgb(122, 119, 119);
    letter-spacing:13px;
    position:absolute;
    color: transparent;
    top: 11%;
    left: 51%;
    transform: translateY(-15%) translateX(-50%);
    }

    .title-stroke1{
        font-family: LongBaton;
     color: lightsalmon;
    font-size: 200px;
    text-align:center;
    margin-top: -63px;
    }

    .title-absolute1{
        font-family: LongBaton;
    font-size:  170px;
    -webkit-text-stroke: 0.5px rgb(122, 119, 119);
    letter-spacing:13px;
    position:absolute;
    color: transparent;
    top: 54%;
    left: 51%;
    transform: translateY(-15%) translateX(-50%);
    } */
    
    /* .retour_en_haut_container{
        position: fixed;
        bottom:0;
    right: 20px;
    -webkit-animation:bounce 1s infinite;
    }
    
    @-webkit-keyframes bounce{
        0%       { bottom:5px; }
        25%, 75% { bottom:15px; }
        50%      { bottom:20px; }
        100%     {bottom:0;}
      }
      
    .retour_en_haut_container img{
        width: 50px;
        height: 60px;
    }
      
    .retour_en_haut{
        border: none;
        background-color: transparent;
    } */

    .container_contact{
        display: flex;
    }

    input[type=text], textarea, input[type=email] {
        font-family: Alef;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
      }
      label{margin-right: 0px;
        margin-left: 0px;
        width: 100%;}
      
      input[type=submit] {
        background-color: lightsalmon;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 47px;
        cursor: pointer;
        font-family: Alef;
      }
      
      input[type=submit]:hover {
        background-color: lightgoldenrodyellow;
        color: skyblue;
      }
      
      .container {
        /* Ajouter box-sizing */
        box-sizing : border-box;
        border-radius:37px;
        background-color:#f2f2f2;
        padding:20px;
        width: 100%;
        /* redéfinition 400 + 2*20 */
        max-width: 440px;
        margin:106px auto 0px 200px;
        height: 562Px;
        z-index: 1;
      }
      h1  {
        color: lightsalmon;
        font-family: Alef;
        width: 100%;
        margin-left: 24px;
      }

      .image_deve img{
        height: 564px;
        width: 722px;
        margin: 105px 86px 0px 0px;
        border-radius: 0px 100px 100px 0px;
        position: relative;
        left: -40px;
      }
      
      .footer{
        background-color:lightsalmon ;
        padding: 30px;
        margin-top: 81px;
       height: 150px;
    }
    
    .logo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    }
    
    .logo{
       height: 30Px;
       width: 30px;
       margin: 10px;
       }
    
    .lien{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
    }
    
    .lien :hover{
    color: lightgoldenrodyellow
    }